/*Nav bar styles*/
/*TODO: Refactor and move to right place*/
.nav {
    background: #21222A;
    height: 90px;
    padding-left: 20px;
}
.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav > img {
    width: 40px;
}
.nav > span {
    margin-left: 10px;
    font-size: 2rem;
    color: #61DAFB;
}
/*Main styles*/
/*Todo: Refactor and move to right place*/
main {
    padding: 60px 30px;
    background: url("../../assets/react.svg") no-repeat 111%;
    background-size: 231px;
    background-blend-mode: luminosity;
}
main > h1 {
    font-size: 2.4rem;
    margin: 0;
}
.facts-list > li {
    margin-block: 20px;
    line-height: 19px;
}
.facts-list > li::marker {
    color: #61DAFB;
    font-size: 1.5rem;
}
