:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #282d35;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
}
/*Nav bar styles*/
/*TODO: Refactor and move to right place*/
nav {
  background: #21222A;
  height: 90px;
  padding-left: 20px;
}
.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav > img {
  width: 40px;
}
.nav > span {
  margin-left: 10px;
  font-size: 2rem;
  color: aqua;
}
/*Main styles*/
/*Todo: Refactor and move to right place*/
main {
  padding: 60px 30px;
}
main > h1 {
  font-size: 2.4rem;
  margin: 0;
}
main > ul > li {

  margin-block: 20px;
  line-height: 19px;
}

